{% extends 'base/main.html' %}
{% block content %}         

<div class="header-bar">
    <a href="{% url 'tasks' %}">&#8592;Go Back</a>
</div>

<div class="card-body">
    <form method="POST">
        {% csrf_token %}
        {% if request.user == task.user %}
            <p> Are you sure you want to delete "{{task}}"?</p>
            <input class="button" type="submit" value="Delete"/>
        {% else %}
            <h3>This is not your task!</h3>
        {% endif %}
    </form>
<div>

{% endblock content %}         
